@import "./var";

.footer {
  color: $white;
  background-color: $black;
  padding: 50px 0;

  &__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
    font-size: $small-font;
    min-width: 50px;
  }

  &__logo {
    width: 60%;
    max-width: 100px;
  }

  &__subtitle {
    padding: 0;
    margin: 0;
  }

  &__list-container {
    vertical-align: top;
    padding: 0 40px 0 0;
  }

  &__list-container:last-child {
    padding-right: 0;
  }

  &__list {
    padding: 14px 0;
  }

  &__item {
    padding: 5px 0;
  }

  &__button {
    display: block;
    padding: 6px 14px;
    margin: 13px 0;
    border: 1px solid $white;
    color: $white;
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }

  &__social-container {
    padding: 14px 0;
    margin: 0 -10px;
  }

  &__social-item {
    vertical-align: middle;
    font-size: 0;
    display: inline-block;
  }

  &__social-item-link {
    display: block;
    padding: 5px 10px;

    img {
      vertical-align: middle;
      margin: 0 2px;
      height: 16px;
    }
  }

  &__info {
    padding-top: 40px;
    font-size: $smaller-font;
  }

  &__privacy-item {
    position: relative;
    display: inline-block;

    a {
      display: block;
      padding: 0 7px;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 3px;
      content: "";
      display: block;
      width: 1px;
      height: 6px;
      background-color: $white;
    }
  }

  &__privacy-item:first-child:before {
    display: none;
  }
}