.header {
  position: fixed;
  padding: 20px 0 14px;
  width: 100%;
  color: $white;
  background-color: transparent;
  z-index: 10;

  transition: all 0.4s;

  &__logo {
    display: inline-block;
    width: 70px;

    img {
      width: 100%;
    }
  }

  &__nav {
    float: right;
  }

  &__list {
    padding: 30px 0 10px;
    margin: 0 -14px;
  }

  &__item {
    display: inline-block;
  }

  &__item-link {
    display: block;
    padding: 6px 14px;
  }

  &__item-link:hover {
    font-weight: bold;
  }

  &.white {
    color: $black;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &.black {
    background-color: rgba(0, 0, 0, 0.8);
  }
}