$smaller-font: 11px;
$small-font: 12px;
$main-font: 14px;
$big-font: 16px;
$bigger-font: 20px;
$bigest-font: 24px;
$title-font: 36px;

$main-color: #2e2925;
$yellow-color: #f2d8b7;
$dark-yellow-color: #dabf99;

$white: #fff;
$red: #a94442;
$green: #3c763d;
$gray: #999;
$lightest-gray: #eff0f0;

$title-font-family:  Questrial, 'Helvetica Neue', Arial, sans-serif;
$subtitle-font-family: Questrial, 'Helvetica Neue', Arial, sans-serif;

$light-font-weight: 300;