@import "./var";

.col-md-6 {
  width: 50%;
}

.banner {
  color: $white;
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .container {
    padding: 130px 0 115px;
  }

  &__subtitle {
    padding: 5px 0;
    margin: 0;
  }
}

.intro {
  padding: 100px 0;
  color: $white;
  background-color: $light-gray;

  .row {
    position: relative;
  }

  &__title {
    padding: 10px 0;
    margin: 0;
    font-size: $title-font;
    text-transform: uppercase;
  }

  &__content-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  &__content {
    font-size: $big-font;
    max-width: 340px;
    line-height: 1.5em;
  }

  &__image-container {
    margin-left: 50%;
  }

  &__image {
    width: 100%;
  }
}

.features {
  .row {
    padding: 40px 0;
  }

  &__content {
    position: relative;
  }

  &__item {
    opacity: 0.5;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__item.active {
    opacity: 1;
  }

  &__item:not(.text-right) {
    padding-right: 5%;
  }

  &__item.text-right {
    padding-left: 5%;
  }

  &__item-title {
    margin: 0 0 10px;
  }

  &__item-content {
    margin: 0;
    padding: 10px 0 0;
    border-top: 1px solid $main-color;
  }

  &__space {
    display: block;
    height: 20px;
  }

  &__image-container {
    position: absolute;
    left: 28.333333%;
    right: 28.333333%;
    top: 0;
    padding: 40px 0;
    width: 43.333333%;

    img {
      display: block;
      margin: 0 auto;
      width: 94%;
    }
  }
}

.case {
  padding: 50px 0;

  &__list {
    padding: 30px 0;
  }

  &__image {
    height: 80px;

    img {
      height: 100%;
    }
  }

  &__divider {
    display: block;
    width: 10%;
    height: 2px;
    margin: 0 auto;
    background-color: $dimmed-gray;
  }

  &__title {
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $big-font;
  }

  &__content {
    margin: 20px auto;
    line-height: 1.5em;
    max-width: 230px;
    font-size: $small-font;
  }
}

.team {
  padding: 50px 0;

  &__list {
    padding: 30px 0;
  }

  &__image {
    margin: 0 auto;
    max-width: 200px;

    img {
      width: 100%;
    }
  }

  &__content {
    margin: 14px auto 0;
    width: 190px;
    font-size: $small-font;
  }
}

.road-map {
  padding: 50px 0;
  text-align: center;
  background-image: url(../img/road-map-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__content {
    margin: 40px 0;
    max-width: 90%;
  }
}
