@import "./var";

.banner {
  color: $white;
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;

  .container {
    position: relative;
    padding: 150px 0;
  }

  .social-icons {
    position: absolute;
    right: 0;
    bottom: 150px;
  }

  .hide {
    display: none;
  }

  &__subtitle {
    padding: 30px 0 100px;
    margin: 0 auto;
    max-width: 580px;
    font-size: $bigger-font;
    font-weight: normal;
  }

  &__button-container {
    padding: 80px 0 0;
  }

  &__button {
    display: inline-block;
    padding: 8px 20px;
    margin: 0 15px;
    border: 1px solid $white;
    font-size: $big-font;
    border-radius: 20px;
    font-weight: bold;
  }
}

.intro {
  padding: 120px 0;
  background-color: $lighter-gray;

  .row {
    position: relative;
  }

  &__title {
    padding: 10px 0;
    margin: 0;
    font-size: $title-font;
    text-transform: uppercase;
  }

  &__content-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  &__content {
    margin: 14px 0 24px;
    max-width: 340px;
    line-height: 1.5em;
  }

  &__image-container {
    margin-left: 50%;
  }

  &__image {
    width: 100%;
  }
}

.features {
  padding: 50px 0;

  .row {
    padding: 40px 0;
  }

  .circle-1 {
    animation: circleOpacity 6s infinite;
  }

  .circle-2 {
    animation: circleOpacity 6s infinite;
    animation-delay: .8s;
  }

  .circle-3 {
    animation: circleOpacity 6s infinite;
    animation-delay: 1.4s;
  }

  &__content {
    position: relative;
  }

  &__item {
    opacity: 0.5;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__item.active {
    opacity: 1;
  }

  &__item:not(.text-right) {
    padding-right: 8%;
  }

  &__item.text-right {
    padding-left: 8%;
  }

  &__item-title {
    display: inline-block;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 1px solid $main-color;
  }

  &__item-content {
    margin: 0;
    padding: 10px 0 0;
  }

  &__space {
    display: block;
    height: 20px;
  }

  &__image-container {
    position: absolute;
    left: 28%;
    right: 28%;
    top: 0;
    margin: 40px 0;
    width: 44%;

    img {
      display: block;
      margin: 2% auto;
      width: 94%;
    }
  }

  &__circles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 2% auto;
    width: 94%;
  }

  &__circle-item {
    position: relative;
    display: inline-block;
    opacity: 0;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
  }

  &__circle-item:nth-child(1) {
    top: 7.5%;
    left: 47.17%;
  }

  &__circle-item:nth-child(2) {
    top: 49.3%;
    left: 68%;
  }

  &__circle-item:nth-child(6) {
    top: 49.3%;
    left: 22.5%;
  }

  &__circle-item:nth-child(3),
  &__circle-item:nth-child(4),
  &__circle-item:nth-child(5) {
    top: 91.5%;
  }

  &__circle-item:nth-child(5) {
    left: 2%;
  }

  &__circle-item:nth-child(4) {
    left: 45.17%;
  }

  &__circle-item:nth-child(3) {
    left: 88.3%;
  }

  &__circle-item.active {
    width: 6%;
    background-image: url(../img/feature-tag-active.png);
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center center;
    opacity: 1;

    &:before {
      content: "";
      display: block;
      padding: 50% 0;
    }
  }

  &__circle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    border-radius: 50%;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      padding: 50% 0;
    }
  }
}

.case {
  padding: 50px 0;
  background-color: $lighter-gray;

  .container {
    max-width: 1170px;
  }

  &__list {
    padding: 30px 0;
  }

  &__image {
    height: 90px;

    img {
      height: 100%;
    }
  }

  &__divider {
    display: block;
    width: 10%;
    height: 2px;
    margin: 0 auto;
    background-color: $dimmed-gray;
  }

  &__title {
    margin: 20px 0;
    font-weight: bold;
  }

  &__content {
    margin: 20px auto;
    line-height: 1.5em;
    max-width: 230px;
    font-size: $small-font;
    color: $dimmed-gray;
  }
}

.team {
  padding: 50px 0;

  .container {
    max-width: 1090px;
  }

  &__list {
    padding: 30px 0;
  }

  &__image {
    margin: 0 auto;
    max-width: 200px;

    img {
      width: 100%;
    }
  }

  &__content {
    margin: 14px auto 0;
    width: 215px;
    font-size: $small-font;
    line-height: 1.5em;
    color: $dimmed-gray;
  }

  &__name {
    margin: 14px 0 8px;
  }

  &__title {
    margin: 0;
    font-size: $small-font;
    color: $dimmed-gray;
    font-weight: bold;
    font-style: italic;
  }
}

.advisors,
.investors,
.partners {
  padding: 50px 0;

  .container {
    max-width: 1090px;
  }

  .row:before {
    content: "";
    display: block;
    width: 25%;
    clear: both;
  }

  .row:after {
    width: 25%;
  }

  .team__item {
    float: none;
  }
}

.road-map {
  padding: 50px 0;
  text-align: center;
  background-image: url(../img/road-map-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__content {
    margin: 40px 0;
    max-width: 90%;
  }
}
