@import "./var";

html {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: $main-font;
  color: $main-color;
}

body  {
  margin: 0;
}

h1 {
  font-size: $title-font;
}

h2 {
  font-size: $bigest-font;
}

h3 {
  font-size: $bigger-font;
}

h4 {
  font-size: $main-font;
}

h5 {
  font-size: $small-font;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {color: inherit;
  text-decoration: none;
}

input {
  padding: 4px 12px;
  border: 0;
  outline: none;
  box-shadow: none;
}

button {
  padding: 4px 10px;
  outline: none;
  box-shadow: none;
}

.hide,
.desktop-hidden {
  display: none !important;
}

.d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-top {
  -ms-flex-align: top;
  -webkit-align-items: top;
  align-items: top;
}

.flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.justify-content-evenly {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}

.up-index {
  position: relative;
  z-index: 2;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-middle {
  vertical-align: middle;
}

.text-weight-bold {
  font-weight: bold;
}

.text-weight-bolder {
  font-weight: bolder;
}

.text-upppercase {
  text-transform: uppercase;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-title {
  padding: 14px 0;
  margin: 0;
  font-size: $page-font;
  text-transform: uppercase;
  letter-spacing: 1px;

  span {
    border-bottom: 2px solid $main-color;
    font-size: inherit;
  }
}

.section-title {
  text-align: center;
  padding: 40px;
  margin: 0;
  font-size: $title-font;
  text-transform: uppercase;
}

.social-icons {
  padding: 5px 0;

  &__item {
    display: block;
    max-width: 26px;

    a {
      display: block;
      padding: 5px;
      margin: 7px 0;
      font-size: 0;
      border: 1px solid $white;
      border-radius: 50%;
    }

    img {
      max-height: 14px;
    }
  }
}

.row {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.col-md-3 {
  float: left;
  width: 25%;
}

.col-md-4 {
  float: left;
  width: 33.333333%;
}

.col-md-5 {
  float: left;
  width: 41.666666%;
}

.col-md-6 {
  float: left;
  width: 50%;
}

.col-md-8 {
  float: left;
  width: 66.666666%;
}

.jquery-modal.blocker {
  z-index: 1700;
}

.modal {
  img {
    max-width: 100%;
  }
}

@media(max-width: 767px) {
  html,
  body {
    height: 100%;
  }

  .social-icons {
    padding: 10px 0;
  }
}

.loading {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $white;
  z-index: 3000;

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    max-width: 100px;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }

  &.hidden {
    display: none !important;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: $bigest-font;
  }

  h2 {
    font-size: $bigger-font;
  }

  h3 {
    font-size: $main-font;
  }

  h4 {
    font-size: $small-font;
  }

  h5 {
    font-size: $smaller-font;
  }

  .desktop-hidden {
    display: block !important;
  }

  .mobile-hidden {
    display: none;
  }

  .page-title {
    font-size: $mobile-page-font;
  }

  .section-title {
    padding: 14px 0;
    font-size: $bigest-font;
  }

  .social-icons {
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 50px;
      height: 2px;
      background-color: $white;
    }

    &__item {
      display: inline-block;
      margin: 20px 5px;
    }
  }
}

@import "./header";
@import "./footer";
@import "./animate";